/* Template font face
@font-face {
  font-family: 'FuturaBT';
  src: url('../fonts/FuturaBT-Medium/FuturaBT-Medium.eot');
  src: url('../fonts/FuturaBT-Medium/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBT-Medium/FuturaBT-Medium.woff2') format('woff2'), url('../fonts/FuturaBT-Medium/FuturaBT-Medium.woff') format('woff'), url('../fonts/FuturaBT-Medium/FuturaBT-Medium.ttf') format('truetype'), url('../fonts/FuturaBT-Medium/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
}
*/

html {
  font-size: 10px;
}

body {
  font-family: $font-body;
  font-size: 1.9rem; //Change with your font size
  line-height: 1.5;
  color: $text-color;
}

a {
  text-decoration: none;
  transition: 0.3s all;
  color: $link-color;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 400;
}

h1 {
  font-size: 4.8rem;

  @include media-breakpoint-down(sm) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4rem;

  @include media-breakpoint-down(sm) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3rem;

  @include media-breakpoint-down(sm) {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 2.8rem;

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.9rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.6rem;
  }
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.input-style,
select,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  @include style-input(42px);
}

textarea {
  @include style-input;
}

button {
  &:focus {
    outline: none;
  }
}
