/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Colors
$red1: #ff0;
$black1: #000;
$white1: #fff;

// Theme colors
$text-color: $black1;

// Border
$border-color: $red1;

// Links
$link-color: $text-color;
$link-hover-color: $red1;

// Fonts
$font-body: sans-serif; //Change with your font
$font-heading: sans-serif; //Change with your font

// Background
$backgound-body: $white1;
